.container {
  background-image: url("../../assets/baner.png");
  background-size: cover;
  height: calc(100vh - 100px);
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 62px;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.banner {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.banner_right a {
  transition: .4s;
}

.banner_right a:hover {
  transform: rotate(360deg) scale(1.2);
}

.banner_right img {
  width: 45px;
}

.record {
  margin-top: 30px;
  background-image: url("../../assets/bgc.png");
  width: 100%;
  height: calc(100vh - 100px);
  background-size: cover;
  display: flex;
  justify-content: flex-end;
}

.recordCard {
  width: 50%;
  height: 100%;
  backdrop-filter: blur(3px);
}

.recordForm {
  width: 60%;
  margin: 0 auto;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 45px;
}

.recordInput {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid white;
  padding: 10px;
}

::placeholder {
  color: rgb(184, 184, 184);
}

.recordButton {
  display: inline-block;
  background-color: #0499dd;
  color: white;
  border-radius: 40px;
  padding: 12px 43px;
  border-color: transparent;
}

.recordTitle {
  font-size: 24px;
  color: white;
  font-weight: 700;
}


.rev {
  gap: 50px;
  padding: 0 25px 20px;
  display: flex;
  overflow: auto;
}

.revCard {
  min-width: 400px;
  background-color: rgb(226, 226, 226);
  padding: 20px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
}

.revCard p {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

.headerText {
  text-align: center;
  font-size: 30px;
  margin: 40px auto 25px;
  color: rgb(49, 49, 49);
}

.travel {
  margin: 0 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-bottom: 50px;
}

.seeAll {
  color: rgb(41, 59, 138);
  bottom: 0;
  right: 10px;
  position: absolute;
  cursor: pointer;
  padding: 5px 12px;
  border-radius: 10px;
  transition: 0.3s;
  font-weight: 600;
  font-size: 20px;
}

.seeAll:hover {
  background-color: rgb(41, 59, 138);
  color: white;
  right: 20px;
}

.select select {
  padding: 8px 16px;
  border-radius: 10px;
  color: white;
  border: 1px solid rgb(0, 94, 110);
  background-color: grey;
}

.name {
  font-size: 18px;
}

.price {
  color: yellow;
}